#visual_time_content {
	
}

.day-column {
	margin: 0;
	padding: 0;
	float: left;
	margin-right: 10px;
	background-color: #EEE;
	border-radius: 5px;
}

.day-header {
	text-align: center;
	padding: 10px;
}

.day-column .time-record-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	min-height:480px;
	width: 202px;
}
.day-column .time-record-list li {
	font-size: 1.2em; 
	margin-top: -1px;
	padding: 0;
	width: 200px; 
	height: 60px;
}
.day-column .time-record {
	border: solid 1px #AECCD7;
	background-color: #EAF2F5;
	border-radius: 3px;
	font-size: 9pt !important;
	padding: 3px;
}

.time {
	font-weight: bold;
	background-color: #AECCD7;
	padding: 0 5px 0 5px;
	margin-right: 5px;
}

.stack-column {
	margin: 0;
	padding: 0;
	float: left;
	margin-right: 10px;
}

.stack-column .time-record-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	min-height:480px;
	width: 202px;
}

.stack-column .time-record-list li {
	font-size: 1.2em; 
	margin: 0;
	padding: 0;
	width: 200px; 
}

.stack-column .time-record {
	border: solid 1px #CCC;
	background-color: #EEE;
	font-size: 8pt !important;
	padding: 3px;
}